---
http_interactions:
- request:
    method: get
    uri: http://ddragon.leagueoflegends.com/realms/euw.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json; charset=UTF-8
      Etag:
      - '"8b229376facbb4b06dba0935e277e2ef"'
    body:
      encoding: UTF-8
      string: '{"n":{"item":"4.4.3","rune":"4.2.6","mastery":"4.4.3","summoner":"4.4.3","champion":"4.4.3","profileicon":"4.4.3","language":"4.4.3"},"v":"4.4.3","l":"en_US","cdn":"http:\/\/ddragon.leagueoflegends.com\/cdn","dd":"4.2.6","lg":"0.152.55","css":"0.152.55","profileiconmax":28,"store":null}'
  recorded_at: Thu, 20 Mar 2014 13:35:58 GMT
recorded_with: VCR 2.8.0
